# build output
dist/
storybook-static/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# testing
coverage/

# environment variables
.env
.env.production
.env.local

# macOS-specific files
.DS_Store

# IDE setting folders
.idea/
.vscode/
*.swp
*.swo
*~
