---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Documents" description="Documents" activeNav="documents">
  <main class="container">
    <h1>We're working on it</h1>
    <p>We're on the defensive for this one.</p>
  </main>
</Layout>
