---
import Layout from '../layouts/Layout.astro';
import { getLocaleFromPath, t } from '../i18n';

const pathname = Astro.url.pathname;
const locale = getLocaleFromPath(pathname);
---

<Layout
  title={t(locale, 'join.title')}
  description={t(locale, 'join.description')}
  activeNav="join"
>
  <main class="container">
    <h1>{t(locale, 'join.heading')}</h1>
    <p>{t(locale, 'join.message')}</p>
  </main>
</Layout>
