---
interface Props {
  title: string;
  content: string;
  href?: string;
}

const { title, content, href } = Astro.props;
---

<section class="home__section">
  <h2>
    {
      href ? (
        <a href={href} class="link-title">
          {title}
        </a>
      ) : (
        title
      )
    }
  </h2>
  <p>{content}</p>
</section>
