---
interface Props {
  title: string;
  content: string;
  href?: string;
}

const { title, content, href } = Astro.props;
---

<section class="home__section">
  <h2 class="text-heading-2">
    {
      href ? (
        <a href={href} class="link-title link-underline">
          {title}
        </a>
      ) : (
        title
      )
    }
  </h2>
  <p class="text-body">{content}</p>
</section>

<style>
  .home__section {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
  }
</style>
