---
import { ROUTES } from '../config/routes';

interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

{
  tags.length > 0 && (
    <p class="tag-links">
      {tags.map(tag => (
        <a href={ROUTES.tag(tag)} class="tag-link">
          #{tag}
        </a>
      ))}
    </p>
  )
}

<style>
  .tag-links {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  .tag-link {
    text-decoration: none;
  }

  .tag-link:hover {
    text-decoration: underline;
  }
</style>
